[v-cloak] {
    display: none;
}

#map {
    width: 100%;
    height: 100%;
}

.container-fluid {
    min-height: 100vh;
}

.repo {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #CCC;
    border-radius: 3px;
    z-index: 1000;
    padding: 4px 8px;
}

#map {
    min-height: 80vh;
}
